@import url(https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4b6cb7; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #182848,
    #4b6cb7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: "Klee One", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: black;
  margin: 0;
  padding: 12px 12px;
  margin-bottom: 24px;
  display: flex;
}

.heroTitle {
  font-weight: 600;
  margin: 0;
  width: 50%;
  padding-left: 48px;
}

.MovieImage {
  width: 160px;
}

.MovieImage:hover {
  cursor: pointer;
}

.movieContainer {
  width: 160px;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.movieContainer:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.search {
  width: 50%;
  display: flex;
  padding-left: 320px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 4px;
  height: 16px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 32px;
  height: 30px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
  padding-top: 5px;
}

.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movieContainer {
  flex: 1 0 25%;
  text-align: center;
}

.hero_buttons {
  display: flex;
  justify-content: center;
}

.hero_button {
  margin-right: 8px;
  margin-left: 8px;
  background-color: white;
  color: black;
  transition: all 0.2s ease;
  border: 1px solid black;
  border-radius: 20px;
  padding: 8px 12px;
  font-weight: 600;
  margin-bottom: 16px;
}

.hero_button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.pagecount {
  font-size: 17px;
  font-weight: 600;
  padding-top: 4px;
}

.movieTitle {
  margin: 0;
  padding-top: 4px;
}

.releaseDate {
  margin: 0;
  padding-top: 3px;
  padding-bottom: 8pxpx;
}

.score {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.vote_icon {
  padding-top: 4px;
  padding-right: 4px;
}

.vote_average {
  padding-left: 4px;
  padding-right: 8px;
}

.moreInfo {
  text-decoration: none;
  color: black;
  border-radius: 20px;
  border: 1px solid white;
  padding: 8px 12px;
  background: white;
  font-weight: 600;
  transition: all 0.2s ease;
}

.moreInfo:hover {
  background-color: rgb(207, 207, 207);
}

.movieBlock {
  padding-bottom: 40px;
}

.MoviePageWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.moviePageImageWrapper {
  max-width: 240px;
  padding-left: 80px;
  padding-right: 60px;
  padding-top: 48px;
}

.MoviePageImage {
  max-width: 240px;
  object-fit: cover;
  transition: all 0.2s ease;
}

.MoviePageImage:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.moviePageInfo {
  padding-left: 60px;
  width: 50%;
  padding-top: 16px;
  padding-bottom: 40px;
}

.moviePageTitle {
  font-size: 36px;
}

.moviePageDescription {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.runtime,
.moviePageBudget,
.moviePageScore,
.moviePageQuote {
  display: flex;
  font-size: 20px;
  padding-top: 12px;
}

.moviePageQuote {
  margin-bottom: 32px;
}

.runtime_icon,
.moviePageVoteIcon,
.moviePageBudgetIcon,
.moviePageQuoteIcon {
  padding-top: 6px;
  padding-right: 8px;
}

.moviePageButton {
  text-decoration: none;
  color: black;
  border-radius: 36px;
  border: 1px solid white;
  padding: 8px 24px;
  font-size: 20px;
  background: white;
  font-weight: 600;
  transition: all 0.2s ease;
  margin-top: 16px;
}

.moviePageButton:hover {
  background-color: rgb(207, 207, 207);
}

.loader {
  text-align: center;
}

.heroTitleLink {
  color:white;
  text-decoration: none;
  width: 100%;
}

.navbar {
  margin-bottom: 0;
}

.moviesContainer {
  padding-top: 20px;
}



.userInfo {
  display: flex;
  margin-left: 30px;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
}

.userInfo:focus {
  outline: none;
}

.userInfo:visited {
  outline: none;
}

.userInfo:link {
  outline: none;
}

.userInfo:active {
  outline: none;
}

.userName {
  font-size: 14px;
  width: 70px;
  padding-top: 4px;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
}

.userName:focus {
  outline: none;
}

.userName:visited {
  outline: none;
}

.userName:link {
  outline: none;
}

.userName:active {
  outline: none;
}

.userPhoto {
  height: 30px;
  width: 30px;
  text-decoration: none;
}

.userPhotoSource {
  text-decoration: none;
  height: 30px;
  width: 30px;
}

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 1px 2px 1px 22px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 7px;
  width: 200px;
  height: 30px;
  margin-left: 30px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}


.login-with-google-btn:hover {
  cursor: pointer;
}

.userWrapper {
  display: flex;
}

.logoutButton {
  margin-left: 20px;
}

.movieButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.watchlistButton {
  background: white;
  font-size: 20px;
  border: none;
  transition: all 0.2s ease;
  outline: none;
  border-radius: 20px 20px 20px 20px;
    border: 1px solid white;
    padding: 7px 8px 3px 8px;
    margin-left: 5px;
}

.watchlistButton:hover {
  cursor: pointer;
  background-color: rgb(207, 207, 207);
}

.moviePageButtons {
  display: flex;
}

.moviePageButtons button {
  margin-top: 18px;
  margin-left: 15px;
}

.userPhotoSource {
  border-radius: 50%;
}

.HomePageButton {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.actors_wrapper {
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
}

.actors_title {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 20px;
}

.actors_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.actor_card {
  flex: 1 1 25%;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.actorImage {
  height: 300px;
  width: 200px;
}

a {
  text-decoration: none;
  outline: none;
  underline:none;
  border: none;
  color: inherit;
}

@media (max-width: 1200px) {
  .search {
    padding-left: 0;
    margin-top: 4px;
  }
  .heroTitleLink {
    width: 20%;
  }

}

@media (max-width: 700px) {
  .heroTitleLink {
    display: none;
  }
  .heroTitle {
    display: none;
  }
  .login-with-google-btn {
    font-size: 0;
    width: 40px;
    margin-right: 15px;
  }
  .search {
    width: 100%;
  }
  .searchButton {
    display: none;
  }
  .searchTerm {
    border-radius: 5px;
    border-right: 3px solid #00b4cc;
    

  }
  .moviePageInfo {
    padding-left: 10px;
    padding-right: 100px;
    width: 100%;
  }
  .moviePageImageWrapper {
    padding-left: 0;
  }
  .actors_wrapper {
    padding-left: 0;
  }
  .moviePageButtons {
    justify-content: center;
  }
}


.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

.movies_sortby {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}